<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="CoursePackageMapperPath">

    <resultMap id="CoursePackageMap" type="CoursePackageBeanPath">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="teacher_id" property="teacherId" jdbcType="BIGINT"/>
        <result column="package_type" property="packageType" jdbcType="INTEGER"/>
        <result column="is_deleted" property="isDeleted" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="DATETIME"/>
    </resultMap>

    <sql id="tb"> t_course_package </sql>

    <sql id="cols_all">
        id, <include refid="cols_exclude_id" />
    </sql>

    <sql id="cols_exclude_id">
        `teacher_id`,`package_type`,`is_deleted`,`create_time`
    </sql>

    <sql id="vals">
        #{teacherId jdbcType=BIGINT},#{packageType jdbcType=INTEGER},#{isDeleted jdbcType=INTEGER},#{createTime jdbcType=DATETIME}
    </sql>

    <insert id="create" parameterType="CoursePackage" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO <include refid="tb" />
        (<include refid="cols_exclude_id" />)
            VALUES (<include refid="vals" />)
    </insert>

    <insert id="creates" parameterType="list">
        INSERT INTO <include refid="tb"/>
        ( <include refid="cols_exclude_id"/> )
        VALUES
        <foreach collection="list" item="i" separator=",">
        (#{i.teacherId jdbcType=BIGINT},#{i.packageType jdbcType=INTEGER},#{i.isDeleted jdbcType=INTEGER},#{i.createTime jdbcType=DATETIME})
        </foreach>
    </insert>

    <delete id="delete" parameterType="Long">
        DELETE FROM <include refid="tb"/> WHERE
        id=#{id}    </delete>

    <select id="findById" parameterType="long" resultMap="CoursePackageMap" >
        SELECT <include refid="cols_all" />
        FROM <include refid="tb" />
        WHERE id=#{id}    </select>

    <select id="findByIds" parameterType="list" resultMap="CoursePackageMap" >
        SELECT <include refid="cols_all" />
        FROM <include refid="tb" />
        WHERE id in
        <foreach collection="list" close=")" open="(" separator="," item="i">
            #{i}
        </foreach>
    </select>
</mapper>